@font-face {
  font-family: "DM Serif Display" , "Arial", sans-serif;
  src: url("../fonts/DMSerifDisplay-Regular.woff2") format("woff2"),
      url("../fonts/DMSerifDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Display", "Arial", sans-serif;
  src: url("../fonts/PublicSans-Bold.woff2") format("woff2"),
      url("../fonts/PublicSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans", "Arial", sans-serif;
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
      url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans", "Arial", sans-serif;
  src: url("../fonts/DMSerifDisplay-Italic.woff2") format("woff2"),
      url("../fonts/DMSerifDisplay-Italic.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  /* font-family: 'DM Serif Display', serif; */
  font-family: 'Public Sans', sans-serif;
  background-color: #F2F2F2;
}




/* CONTAINER */
.container {
  width: 100%;
  max-width: 1500px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.site-header__content-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 24px;
}

.site-header{
  position: relative;
  padding-bottom: 150px;
  background-image: url("../img/hero-header-bgimg.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 1px) -550px;
  background-size: 780px 780px;
}

.site-header__button{
  position: absolute;
  z-index: 5;
  right: 24px;
  border: none;
  background-color: transparent;
  width: 28px;
  height: 17px;
  background-image: url("../img/burger\ \(2\).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.site-nav{
  display: none;
  min-width: 300px;
  position: fixed;
  z-index: 5;
  right: 0;
  top: 0;
  background-color: #1B262F;
  padding-top: 139px;
  padding-bottom: 312px;
  background-image: url("../img/site-header-logo\ \(2\).svg");
  background-repeat: no-repeat;
  background-position: calc(50% + -20px) -424px;
  background-size: cover;
  text-align: center;
}

.site-nav__btn{
  position: absolute;
  right: 27px;
  top: 48px;
  border: none;
  width: 22px;
  height: 23px;
  background-color: transparent;
  background-image: url("../img/closer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.site-nav--open .site-nav{
  display: block;
}

.site-nav__list{
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__list::before{
  content: "";
  display: block;
  position: absolute;
  top: -43px;
  left: 25px;
  right: 25px;
  width: 249px;
  height: 1px;
  opacity: 0.15;
  background-color: #FBFCFE;
}

.site-nav__link{
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FBFCFE;
  mix-blend-mode: normal;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.site-nav__link:hover{
  opacity: 0.5;
}

.link-demo{
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  background-color: #BA4270;
  padding: 15px 38px;
  text-decoration: none;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  margin-top: 32px;
}

.button{
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  background-color: #BA4270;
  padding: 15px 38px;
  text-decoration: none;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: none;
}

.site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

/* HERO */

.hero{
  position: relative;
  padding-top: 144px;
  padding-bottom: 80px;
}

.hero-img{
  position: absolute;
  z-index: 2;
  top: -180px;
  left: 50px;
  width: 328px;
  height: 440px;
}

.hero-heading{
  font-family: "DM Serif Display", serif;
  width: 370px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: #36536B;
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.form{
  position: relative;
  width: 328px;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.form-email{
  padding-top: 16px;
  padding-left: 27px;
  padding-right: 40px;
  padding-bottom: 14px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  mix-blend-mode: normal;
  opacity: 0.5;
  background-color: #FBFCFE;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  margin-bottom: 24px;
}

.question-wrapper{
  width: 270px;
  margin-top: 24px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.question-text{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #6C8294;
  padding: 0;
  margin: 0;
}

.question-link{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #6C8294;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.button:hover{
  opacity: 0.6;
}

/* ABOUT */

.about{
  background-color: #1B262F;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-image: url("../img/site-header-logo\ \(2\).svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 1px) -450px;
  background-size: cover;
}

.about-list{
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -50px;
}

.about-item{
  width: calc(100% / 3 - 50px);
  margin-left: 60px;
  margin-bottom: 40px;
}

.about-heading{
  font-family: "DM Serif Display";
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: #FBFCFE;
}

.about-text{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #FBFCFE;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 16px;
  margin-bottom: 60px;
}

.link-about{
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  text-decoration: none;
  border: 1px solid #FBFCFE;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 15px 32px;
  transition: background-color 0.3s ease,
    color 0.3s ease;
}

.link-about:hover{
  background-color: #FBFCFE;
  color: #1B262F;
}

@media only screen and (min-width: 768px) {
  .site-header__button{
    display: none;
  }

  .site-nav{
    position: static;
    display: block;
    background-color: transparent;
    background-image: none;
    padding: 0;
  }

  .site-nav__list{
    display: flex;
  }

  .site-nav__link{
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #36536B;
    mix-blend-mode: normal;
    opacity: 0.7;
  }

  .site-nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .link-demo{
    margin-left: 45px;
  }

  .site-nav__btn{
    display: none;
  }

  .site-header{
    padding-bottom: 220px;
    background-size: 949px 949px;
    background-position: calc(50% + 1px) -650px;
  }

  /* HERO */


  .site-nav{
    display: flex;
    align-items: center;
  }

  .link-demo{
    margin-top: 0;
  }

  .hero-img{
    left: 30%;
    top: -220px;
    width: 356px;
    height: 500px;
  }

  .hero-heading{
    font-family: "DM Serif Display", serif;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.369231px;
    width: 531px;
    padding: 0;
    margin: 0;
    margin-top: 48px;
    margin-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .form{
    width: 445px;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
  }

  .form-email{
    width: 272px;
    margin-left: 10px;
    height: 48px;
    padding-right: 40px;
    margin-bottom: 0;
  }

  .form-button{
    position: absolute;
    right: 25px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.115385px;
    width: 200px;
    padding: 0;
    margin: 0;
    border: none;
    color: #FBFCFE;
    background: #BA4270;
    border-radius: 24px;
    padding: 15px 25px;
    height: 48px;
  }

  .question-wrapper{
    margin-top: 0;
    margin-top: 16px;
  }

  /* ABOUT */

  .about{
    background-position: calc(50% + 1px) -570px;
  }

  .about-list{
    margin-left: -120px;
    text-align: end;
  }

  .about-item{
    width: calc(100% / 3 - 120px);
    margin-left: 60px;
    margin-bottom: 30px;
  }

  .about-heading{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
  }

  .about-text{
    padding-left: 155px;
    padding-right: 155px;
  }

}

@media only screen and (min-width: 1000px) {
  body{
    background-image: url("../img/hero-header-bgimg.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 450px) -270px;
    background-size: 780px;
  }

  .site-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 64px;
    padding-right: 165px;
  }

  .site-logo{
    padding-left: 165px;
  }

  .site-nav__list{
    width: 232px;
  }

  .link-demo{
    margin: 0;
    padding: 0;
    padding: 15px 25px;
  }

  .site-header{
    position: relative;
    z-index: 2;
    background-image: none;
    padding-bottom: 0;
    padding-bottom: 160px;
    z-index: 90;
  }

  .hero-img{
    z-index: 99;
    width: 458px;
    height: 700px;
    left: 57%;
    top: -194px;
  }

  .hero{
    padding-top: 0;
    justify-content: left;
  }

  .hero-content__wrapper{
    padding-left: 165px;
  }

  .hero-heading{
    width: 692px;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.553846px;
    margin: 0;
    text-align: left;
  }

  .form{
    margin: 0;
    padding: 0;
    margin-top: 21px;
    margin-bottom: 16px;
  }

  .question-wrapper{
    justify-content: left;
    width: 485px;
    margin: 0;
    padding-left: 40px;
  }

  .form-button{
    right: -10px;
  }

  /* ABOUT */

  .about{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .about-content__wrapper{
    width: 645px;
    text-align: left;
    padding-left: 165px;
  }

  .about-heading{
    text-align: left;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    margin: 0;
    margin-bottom: 24px;
  }

  .about-text{
    padding: 0;
    text-align: left;
    margin: 0;
    margin-bottom: 32px;
  }

  .about-list{
    margin-left: -130px;
  }

  .about-item{
    width: calc(100% / 3 - 130px);
    margin-left: 55px;
    margin-bottom: 30px;
  }

}